.DS_Store
node_modules


# local env files
.env.local
.env.*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.firebaserc
/no/404.html
/dist/css/app.6df88a77.css
/dist/js/app.b816bc7a.js
/dist/js/app.b816bc7a.js.map
/dist/js/chunk-vendors.11dc14b5.js
/dist/js/chunk-vendors.11dc14b5.js.map
/dist/css/chunk-vendors.94dc6c65.css
/dist/favicon.ico
/firebase.json
/.github/workflows/firebase-hosting-merge.yml
/.github/workflows/firebase-hosting-pull-request.yml
/.firebase/hosting.ZGlzdA.cache
/dist/
